main {
    position: relative;
    width: 1130px;
    padding: 20px 30px;
    margin: 0, auto;
    letter-spacing: -.2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

em {
    font-style: normal;
}

a{
    color: inherit;
    text-decoration: none;
}

iframe{
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: top;
}

.container {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    width: 1130px;
    height: 2729px;
    padding: 20px 30px;
    margin: 0 auto;
    letter-spacing: 2px;
    display: block;
}

.left_columm {
    float: left;
    display: block;
    font-size: 12px;
    height: 2729px;
    line-height: 16px;
    width: 750px;
}

.sc_newscast {
    width: 750px;
    margin-top: 12px;
    display: block;
}

.sc_newscast .group_issue {
    width: 718px;
    height: 24px;
    position: relative;
    padding: 12px 15px 11px 15px;
    line-height: 24px;
    background-color: #f7f9fa;
    border-color: #f7f9fa;
    border: 1px solid #dae1e6;
}

.sc_newscast .group_issue .issue_area {
    float: left;
}

.sc_newscast .group_issue .link_media {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    position: relative;
    max-width: 89px;
    padding-right: 12px;
    margin-right: 7px;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -.3px;
}

.sc_newscast .group_issue .list_issue {
    overflow: hidden;
    float: left;
    width: 310px;
    height: 24px;
    font-size: 13px;
    font-weight: 700;
}

.sc_newscast .group_issue .direct_area {
    float: right;
    font-weight: 700;
}

.sc_newscast .group_issue .direct_area:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_newscast .group_issue .direct_area .link_news {
    color: #3565c9;
    float: left;
    height: 13px;
    font-size: 13px;
    text-decoration: none;
}

.sc_newscast .group_issue .direct_area .link_news:after {
    background-color: #c8ccd1;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    content: '';
    margin-left: 8px;
    vertical-align: 3px;
}

.sc_newscast .group_issue .direct_area .link_direct {
    margin: 0 4px 0 7px;
    float: left;
    height: 24px;
    font-size: 13px;
    text-decoration: none;
    color: #202020;
}

.sc_newscast .group_issue .direct_area .link_direct::after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_newscast .group_title {
    height: 18px;
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
}

.sc_newscast .group_title .link_newsstand:before {
    display: inline-block;
    width: 27px;
    height: 24px;
    background-position: -336px -345px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: ' ';
    margin: -6px 1px 0 0;
}

.sc_newscast .group_title .link_newsstand {
    float: left;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    white-space: nowarp;
}

.sc_newscast .group_title .link_newsstand:after {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -444px -3417px;
    background-repeat: no-repeat;
    content: ' ';
    margin-left: 6px;
    vertical-align: -1px;
}

.sc_newscast .group_title .sort_area {
    float: left;
    margin-left: 10px;
}

.sc_newscast .group_title .btn_sort {

    font-size: 14px;
    color: #505050;
    text-decoration: none;
}

.sc_newscast .group_title .btn_sort+.btn_sort:before {
    background-color: #c7ccd1;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: ' ';
    margin: 0 8px 0 4px;
    vertical-align: 3px;
}

.sc_newscast .group_news {
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
    border-width: 1px 0;
}

._NM_UI_PAGE_CONTAINER {
    border: 0;
    width: 100%;
}

.sc_newscast .title_view {
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
    border-width: 0 1px;
}

.sc_newscast .title_view .frame_area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sc_newscast .title_view .frame_area .line {
    position: absolute;
    background-color: #e4e8eb;
    z-index: 1;
}

.sc_newscast .title_view .popup_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow: hidden;
    padding: 19px 0 18px;
    background-color: #f7f9fa;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.sc_newscast .title_view .btn_popup {
    display: inline-block;
    padding: 7px 8px 5px;
    background-color: #fff;
    border: 1px solid #dae1e6;
    font-size: 12px;
    line-height: 16px;
    color: #505050;
    vertical-align: top;
    text-decoration: none;
}

.sc_newscast .title_view .btn_popup+.btn_popup {
    margin-left: -1px;
}

.sc_newscast .title_view .frame_area .r1 {
    top: 65px;
    left: 0;
    right: 0;
    height: 1px;
}

.sc_newscast .title_view .frame_area .r2 {
    top: 130px;
    left: 0;
    right: 0;
    height: 1px;
}

.sc_newscast .title_view .frame_area .r3 {
    top: 195px;
    left: 0;
    right: 0;
    height: 1px;
}

.sc_newscast .title_view .frame_area .b1 {
    left: 124px;
    top: 0;
    bottom: 0;
    width: 1px;
}

.sc_newscast .title_view .frame_area .b2 {
    left: 248px;
    top: 0;
    bottom: 0;
    width: 1px;
}

.sc_newscast .title_view .frame_area .b3 {
    left: 372px;
    top: 0;
    bottom: 0;
    width: 1px;
}

.sc_newscast .title_view .frame_area .b4 {
    left: 497px;
    top: 0;
    bottom: 0;
    width: 1px;
}

.sc_newscast .title_view .frame_area .b5 {
    left: 622px;
    top: 0;
    bottom: 0;
    width: 1px;
}

.sc_newscast .title_view .thumb_box {
    position: relative;
    float: left;
    width: 16.66%;
    height: 65px;
}

.sc_newscast .title_view .thumb {
    display: block;
    padding: 23px 0 22px;
    text-align: center;
}

.sc_newscast .thumb .thumb_dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    display: none;
    background-color: #fff;
}

.sc_newscast .title_view .thumb_box .thumb .news_logo {
    width: 45.500;
}

._NM_THEMECAST_CONTENTS_CONTAINER {
    height: 1724.500px;
    width: 750px;
}

.sc_themecast {
    padding: 35px 0 27px;
    letter-spacing: -.25px;
    height: 2221.500px;
}

.theme_head {
    width: 750px;
    height: 82.5px;
}

.sc_themecast .group_title {
    overflow: hidden;
    padding-bottom: 17px;
}

.sc_themecast .group_title .title_area {
    float: left;
}

.sc_themecast .group_title .title_area .dsc {
    margin-left: 8px;
    color: gray;
}

.sc_themecast .group_title .title_area .title {
    font-size: 14px;
    color: #000;
}

.sc_themecast .group_title .info_area {
    float: right;
}

.sc_themecast .group_title .info_area .info {
    color: gray;
}

.sc_themecast .group_title .info_area .new {
    color: #000;
}

.sc_themecast .group_title .info_area .btn_set {
    position: relative;
    margin-left: 14px;
    color: #505050;
}

.sc_themecast .group_title .info_area .btn_set:before {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -444px -194px;
    background-repeat: no-repeat;
    content: ' ';
    margin-right: 4px;
    vertical-align: -1px;
    opacity: .7;
}

.sc_themecast .group_title .info_area .btn_set:after {
    position: absolute;
    top: 2px;
    left: -8px;
    content: ' ';
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
}

.sc_themecast .group_category {
    height: 49px;
}

.sc_themecast .group_category .main_category {
    position: relative;
    background-color: #fff;
    height: 49px;
}

.sc_themecast.main_category:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    border: 1px solid #dae1e6;
}

.sc_themecast .main_category .list_category_wrap {
    overflow: hidden;
}

.sc_themecast .main_category .list_category {
    padding: 0;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

.sc_themecast .main_category .list_category:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
    border: 1px solid #dae1e6;
}

.sc_themecast .main_category .category_item {
    position: relative;
    display: inline-block;
    width: 94px;
    z-index: 1;
    vertical-align: top;
}

.sc_themecast .main_category .tab {
    display: block;
    border-right: 1px solid #dae1e6;
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.sc_themecast .main_category .category_item:first-child {
    width: 92px;
}

.sc_themecast .main_category .category_item:ntn-child(8n+1) {
    width: 92px;
}

.sc_themecast .main_category.category_item .NM_THEME_CATE {
    width: 94px;
    line-height: 49px
}

.sc_themecast .theme_cont {
    overflow-anchor: none;
    padding-top: 4px;
}

.sc_themecast .theme_category{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    display: block;
    font-weight: 700;
}
.sc_themecast .group_topstory {
    padding: 18px 0;
    border-bottom: 1px solid #e4e8eb;
    height: 322px;
}

.sc_themecast .group_topstory:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_themecast .group_topstory .topstory_inner {
    float: left;
    width: 364px;
}

.sc_themecast .group_topstory .topstory_inner+.topstory_inner {
    margin-left: 22px;
}

.sc_themecast .group_topstory .topstory_inner .topstory_view {
    height: 257px;
}

.sc_themecast .topstory_view .topstory_thumb {
    overflow: hidden;
    display: block;
    position: relative;
    width: 364px;
    height: 180px;
}

.sc_themecast .topstory_view .topstory_thumb .thumb_bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .06;
    border: 1px solid #000;
}

.sc_themecast .topstory_view .topstory_info {
    display: block;
    padding: 16px 18px 0 0;
    text-decoration: none;
}

.sc_themecast .topstory_view .topstory_info .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 6px;
    font-size: 13px;
}

.sc_themecast .topstory_view .topstory_info .title.line_two {
    display: -webkit-box;
    overflow: hidden;
    max-height: 44px;
    line-height: 22px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 3px;
    white-space: normal;
}

.sc_themecast .topstory_view .topstory_info .source_area {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 4px;
    vertical-align: top;
}

.sc_themecast .topstory_view .topstory_info .source {
    overflow: hidden;
    display: block;
    color: #505050;
}

.sc_themecast .topstory_view .topstory_info .source_inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.sc_themecast .list_theme_wrap {
    padding: 18px 0;
}

.sc_themecast .list_theme_wrap.type_topstory {
    padding: 0;
}

.sc_themecast .type_topstory.list_theme {
    width: 364px;
    height: 322px;
}

.sc_themecast .group_topstory .topstory_inner+.topstory_inner {
    margin-left: 22px;
}

.sc_themecast .list_theme_wrap.type_topstory .theme_thumb {
    width: 98px;
    height: 98px;
    margin-right: 18px;
}

.sc_themecast .list_theme_wrap.type_topstory .theme_info {
    padding-right: 30px;
}

.sc_themecast .list_theme .theme_thumb {
    width: 170px;
    height: 114px;
    overflow: hidden;
    float: left;
    display: block;
    position: relative;
    margin-right: 21px;
}

.sc_themecast .theme_item .theme_category {
    display: flex;
}

.sc_themecast .list_theme .theme_info {
    overflow: hidden;
    display: block;
    padding: 4px 47px 0 0;
    text-decoration: none;
}

.sc_themecast .list_theme .theme_item {
    overflow: hidden;
    padding: relative;
}

.sc_themecast .list_theme_wrap.type_topstory .theme_item+.theme_item {
    margin-top: 14px;
}

.sc_themecast .list_theme .theme_info:hover .title {
    text-decoration: underline;
}

.sc_themecast .list_theme_wrap.type_topstory .title {
    margin-top: 4px;
}

.sc_themecast .theme_link {
    padding: 11px 18px;
    margin-top: -1px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    font-size: 13px;
    font-weight: 700;
}

.sc_themecast .theme_link:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_themecast .theme_link .link_enter {
    float: left;
    color: #e65da0;
    padding: 5px 0 4px;
    margin-right: 16px;
}

.sc_themecast .theme_link .list_service {
    overflow: hidden;
    height: 25px;
    padding-left: 17px;
    border-left: 1px solid #e4e8eb;
}

.sc_themecast .theme_link .service_item {
    float: left;
}

.sc_themecast .theme_link .service_item+.service_item {
    margin-left: 28px;
}

.sc_themecast .theme_link .service_item .service {
    display: inline-block;
    padding: 5px 0 4px;
    color: #404040;
    vertical-align: top;
}

.sc_themecast .theme_link:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_themecast .theme_link .list_service:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_themecast .group_topstory .group_theme {
    height: 813px;
    width: 750px;
}

.sc_themecast .media_view {
    font-size: 0;
    line-height: 0;
}

.sc_themecast .media_view .title {
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
}

.sc_themecast .media_view .media_area, .sc_themecast .media_view .myfeed_area{
    display: inline-block;
    width: 232px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top;
    text-decoration: none;
}
.sc_themecast .media_view_wrap.type_column {
    padding: 18px 0 17px;
}

.sc_themecast .media_view_wrap.type_column .media_view {
    margin: 0 -27px -31px 0;
}

.sc_themecast .media_view_wrap.type_column .media_area {
    margin: 0 27px 31px 0;
}

.sc_themecast .media_view .media_thumb {
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}

.sc_themecast .media_view .media_thumb .thumb_dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
    background-color: #000;
}

.sc_themecast .media_view .media_thumb .thumb_bd {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    border: 1px solid #000;
}

.sc_themecast .theme_runtime {
    position: absolute;
    right: 8px;
    bottom: 6px;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 11px;
    line-height: 14px;
    color: #fff;
}

.sc_themecast .theme_runtime .runtime_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #000;
    border-radius: 2px;
    color: transparent;
}

.sc_themecast .theme_runtime .time {
    position: relative;
    z-index: 1;
}

.sc_themecast .media_view .media_info {
    display: block;
    padding-top: 12px;
}

.sc_themecast .media_view .info_box {
    overflow: hidden;
}

.sc_themecast .theme_category, .sc_themecast .theme_hl {
    color: #e65da0;
}

.sc_themecast .media_view .source{
    overflow: hidden;
    display: block;
    color: #505050;
}
.sc_themecast .media_view .source_wrap {
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    vertical-align: top;
}

.sc_themecast .media_view .date::before {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}

.sc_themecast .media_view .date{
    float: right;
    color: grey;
}



.right_columm {
    float: right;
    display: block;
    font-size: 12px;
    height: 2729px;
    line-height: 16px;
    width: 350px;
}

.my_wrap {
    display: block;
    font-size: 12px;
    height: 457px;
    line-height: 16px;
    padding: 0px, 20px;
    width: 350px;
}

.sc_user {
    display: block;
}

.info_area {
    display: block;
    position: relative;
    padding: 17px, 17px, 0;
}

.sc_user.info_area.btn_logout {
    position: absolute;
    top: 17px;
    right: 17px;
    padding: 6px, 10px, 6px, 11px;
    border-radius: 14px;
}

.sc_user.info_area.user.thumb {
    float: left;
    position: relative;
    margin-right: 16px;
}

.sc_user.info_area.user_info {
    overflow: hidden;
    display: block;
}

.sc_user.info_area.user_info.info_box {
    padding-right: 60px;
    line-height: 18px
}

.sc_themecast .media_view::after{
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}

.sc_themecast .group_theme+.group_theme{
    border-top: 1px solid #e4e8eb
}

.sc_themecast .theme_title{
    padding-top: 24px;
    line-height: 25px;
}

.sc_themecast .theme_title .title{
    float: left;
    font-size:14px;
    color: #000;
}
.sc_themecast .theme_title a.title{
    position: relative;
    font-weight: 700;
}
.sc_themecast .theme_title a.title::after{
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -444px -304px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: 0;
}